.carrossel_box{
    display: flex;
    position: relative;
    min-width: 83.875rem;
    max-width: 83.875rem;
    justify-self: center;
    overflow: hidden;
    &:hover .carrossel_inner_box {
        animation-play-state: paused;
      }
}
@keyframes scrolling {
    from, to { transform: translateX(0); }
    100% { transform: translateX(-300%); }
}
.carrossel_inner_box{
    display: flex;
    min-width: 83.875rem;
    max-width: 83.875rem;
    justify-self: center;
    > * {
        flex: 0 0 100%;
      }
    will-change: transform;
    animation: scrolling 20s linear infinite;
}
.carrossel_checkbox{
    display: flex;
    position: absolute;
    bottom:3.125rem;
    gap: 0.625rem;
    width: 100%;
    justify-content: center;
}
.carrossel_check{
    background-color: #CCCCCC;
}
input[type="radio"]{
    -webkit-appearance: none;
    background-color: #CCCCCC;
    width: 0.813rem;
    height: 0.813rem;
    border-radius: 50%;
}
input[type="radio"]:checked {
    background-color: #C92071;
}
.carrossel_center{
    display: grid;
}