.gallery_titulo{
    width: 30.938rem;
}
.gallery_header{
    display: flex;
    position: relative;
    overflow: hidden;
}
.gallery_images{
    display: flex;
    position: inherit;
    top: 0;
    right: 5.625rem;
}
.gallery_sapato{
    width: 105%;
}
.gallery_ornament{
    width: 19%;
    align-self: flex-start;
    position: inherit;
    right: 6.25rem;
    top: 75px;
}
.gallery_box{
    background-color: gray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 83.875rem;
    max-width: 83.875rem;
    justify-content: center;
    margin: auto;
    background-color: #F5F5F5;
    font-family: sans-serif;
    justify-self: center;
}
.gallery_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30.938rem;
    gap: 1.25rem;
    margin-bottom: 6.25rem;
    margin-left: 2.5rem;
}
.gallery_titulo{
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.125rem;
    letter-spacing: 0.063rem;
}
.gallery_description{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.125rem;
    letter-spacing: 0.047rem;
    color: #474747;
}
.gallery_button{
    width: 12.5rem;
    padding: 0.625rem 3.125rem;
    background-color: #c92071;
    border-radius: 8px;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.047rem;
    margin-top: 1.25rem;
}
.gallery_subtitulo{
    color: #F6AA1C;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.047rem;
}
.gallery_img_fire{
    width: 9%;
    position: relative;
    top:0;
    left: 1.875rem;
    scale: 1.2;
}