.header{
    background-color: white;
    max-width: 100%;
    /* min-width: 100%; */
}
.header_logo{
    cursor: pointer;
}
.header_intern{
    letter-spacing: 0.047rem;
    display: flex;
    flex-direction: column;
    max-width: 83.875rem;
    /* min-width: 83.875rem; */
    justify-content: center;
    margin: auto;
    font-family: sans-serif;
    padding-bottom: 1.563rem;
    background-color: white;
}
.header_search_bar{
    width: 42.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 1.875rem; */
    border-radius: 8px;
    background-color: #F5F5F5;
    padding: 0.938rem;
}
.header_search{
    background-color: rgb(245, 245, 245);
    color: #474747;
    width: 100%;
    /* width: 31.813rem; */
    border: none;
}
.header_header{
    display: flex;
    padding: 2.5rem 0.313rem;
    justify-content: space-between;
    align-items: center;
    max-width: 83.875rem;
    /* min-width: 83.875rem; */
}
.header_footer{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 1.563rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.047rem;
    color: #474747;
}
.header_login{
    /* margin: 0 1.563rem; */
    border-bottom: solid thin;
    color: #474747;
    cursor: pointer;
}
.header_search::-webkit-input-placeholder{
    color: #474747;
}
.header_button{
    width: 7.125rem;
    height: 2.5rem;
    letter-spacing: inherit;
    border-radius: 8px;
    background-color: #c92071;
    border: none;
    color: #ffff;
}
.header_carrinho{
    margin-right: 3.75rem;
    align-self: center;
    cursor: pointer;
}
.search_icon{
    width: 1.25rem;
}
.header_link{
    color: #474747;
}
@media screen and (max-width: 1150px) {
    .header_header{
        justify-items: center;
        flex-direction: column;
    }

}