.header{
    background-color: white;
}
.header_logo{
    cursor: pointer;
}
.header_intern{
    letter-spacing: 0.75px;
    display: flex;
    flex-direction: column;
    max-width: 1342px;
    justify-content: center;
    margin: auto;
    font-family: sans-serif;
    padding-bottom: 25px;
    background-color: white;
}
.header_search_bar{
    width: 529px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding: 15px;
}
.header_search{
    background-color: rgb(245, 245, 245);
    color: #474747;
    width: 509px;
    border: none;
}
.header_header{
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}
.header_footer{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 25px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #474747;
}
.header_login{
    margin: 0 25px;
    border-bottom: solid thin;
    color: #474747;
    cursor: pointer;
}
.header_search::-webkit-input-placeholder{
    color: #474747;
}
.header_button{
    width: 114px;
    height: 40px;
    letter-spacing: inherit;
    border-radius: 8px;
    background-color: #c92071;
    border: none;
    color: #ffff;
}
.header_carrinho{
    margin: 0 30px 0 60px;
    align-self: center;
    cursor: pointer;
}
.search_icon{
    width: 20px;
}
.header_link{
    color: #474747;
}